{% extends "./theme1.html" %}

{% block head %}
<!-- Your <link> and <meta> tags here -->
<style>
  .job-cards-deck{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1em;
  }
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-4">
    <h3>Filters</h3>
    {% for key, values in filters %}
      <div class="accordion" id="{{key}}accordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{key}}collapse" aria-expanded="true" aria-controls="{{key}}collapse">
              {{ key }}
            </button>
          </h2>
          <div id="{{key}}collapse" class="accordion-collapse collapse show" data-bs-parent="#{{key}}accordion">
            <div class="accordion-body">
              {% for v in values %}
              <li class="form-check">
                <input class="form-check-input" type="checkbox" value="{{v}}" id="cb_{{v}}">
                <label class="form-check-label" for="cb_{{v}}">{{v}}</label>
              </li>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="col">
    <h3>{{ jobs | length }} Results</h3>
    <div class="job-cards-deck">
      {% for job in jobs %}
      <div class="card">
        <div class="card-body">
          <p class="mb-0 d-flex justify-content-between">
            {% if job.props.work_setting %}
            <small class="badge bg-dark">🔥 Remote</small>
            {% endif %}
            <small>{{job.props.id}}</small>
          </p>
          <h5 class="card-title">{{ job.props.title }}</h5>
          <p class="card-text text-muted">
            {{ job.props.city}}, {{ job.props.country }}
          </p>
          <a href="/jobs/{{orgid}}/{{job._id}}">View more</a>
        </div>
      </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Your <script> tags here -->
{% endblock %}