{% extends "index.html" %}
{% block content %}
<h1>Basic Details Page Template Editor</h1>
<div id="feedslist"></div>
<div id="editor">
  <p>Hoejasd</p>
  <textarea name="" id="" cols="30" rows="10"></textarea>
</div>
{% endblock %}

{% block pageLevelScripts %}
<script>
  fetch(`/api/feeds`, {
    headers: {
      authorization: `Bearer ${sessionStorage.getItem('token')}`
    }
  })
  .then(data => data.json())
  .then(json => {
    let html = '';

    json.feeds.forEach(async f => {
      const r = await fetch(`/api/feeds/${f._id}/mappings`, {
        headers: {
          authorization: `Bearer ${sessionStorage.getItem('token')}`
        }
      })
      const rr = await r.json();
      console.log(rr);
    
      if (rr.requiredMappingComplete) {
        html += `<li id="${f._id}"><i class="fa-solid fa-check"></i><span class="ms-2">
          <a href="/feeds/${f._id}">${f.name}</a></span></li>`
      } else {
        html += `<li id="${f._id}" ><span class="badge text-bg-danger">Mapping incomplete</span><span class="ms-2"><a href="/feeds/${f._id}">${f.name}</a></span></li>`
      }
      document.querySelector('#feedslist').innerHTML = `<ul>${html} </ul>`;

    })
    
    
    
  })
</script>
{% endblock %}