{% extends "index.html" %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>
<!-- Content Row -->
<div class="row">

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Feeds</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800" id="feedsCount"></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-rss fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Users</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800" id="usersCount"></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-user fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Jobs</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800" id="jobsCount"></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-briefcase fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block pageLevelScripts %}
<script>
  getDashboardInfo();
  function getDashboardInfo(){
    fetch('/api/dashboard-info', {
      headers: {
        authorization: `Bearer ${sessionStorage.getItem('token')}`
      }
    })
    .then(data => data.json())
    .then(json => {
      document.querySelector('#usersCount').textContent = json.totalUsers;
      document.querySelector('#feedsCount').textContent = json.totalFeeds;
      document.querySelector('#jobsCount').textContent = json.totalJobs;
    })
    .catch(error => console.log(error));
  }
</script>
{% endblock  %}