{# register.html #}
{% extends 'index.html' %}

{% block pagestyles %}
<style>
  body {
    display: flex;
    align-items: center;
  }
  .bg-register-image {
    background: url(https://source.unsplash.com/Mv9hjnEUHR4/600x800);
    background-position: center;
    background-size: cover
  }
  .user {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
</style>
{% endblock %}

{% block body %}
<body>
  <div class="container">
    <div id="alert"></div>
    <div class="card border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form class="user" id="registerForm">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="FirstName" placeholder="First Name">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="LastName" placeholder="Last Name">
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" id="InputEmail"
                    placeholder="Email Address">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" id="InputPassword"
                      placeholder="Password">
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" id="RepeatPassword"
                      placeholder="Repeat Password">
                  </div>
                </div>
                <input type="submit" class="btn btn-primary btn-user btn-block" value="Register Account"></input>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="/forgot-password">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="/login">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    const registerForm = document.querySelector('#registerForm');
    registerForm.addEventListener('submit', (e) => {
      e.preventDefault();

      const name = document.querySelector('#FirstName').value;
      const surname = document.querySelector('#LastName').value;
      const email = document.querySelector('#InputEmail').value;
      const password = document.querySelector('#InputPassword').value;

      fetch('/api/register', {
        method: 'post',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ name, surname, email, password })
      })
        .then(data => data.json())
        .then(res => {
          if (res.error) {
            document.querySelector('div#alert').innerHTML = `
          <div class="alert alert-warning mt-5" role="alert">${res.error}</div>`;
          } else {
            window.location = '/login';
          }
        })
        .catch(err => {
          console.log(err);
        })
      console.log('Form submitted')
    })


  </script>
</body>

{% endblock %}